openapi: 3.0.0

info:
 version: '1.0'
 title: 'LBAW ClarityQuest Web API'
 description: 'Web Resources Specification (A7) for our Collaborative Q&A Web App - ClarityQuest'

servers:
 - url: http://lbaw24125.fe.up.pt/24125
   description: Production server

externalDocs:
 description: Find more info here.
 url: https://gitlab.up.pt/lbaw/lbaw2425/lbaw24125/-/wikis/home

tags:
 - name: 'M01: Authentication and Individual Profile'
 - name: 'M02: Q&A'
 - name: 'M03: Profiles'
 - name: 'M04: Notifications'
 - name: 'M05: User Administration and Static pages'

paths:
 /login:
   get:
     operationId: R101
     summary: 'R101: Login Form'
     description: 'Provide login form. Access: PUB'
     tags:
       - 'M01: Authentication and Individual Profile'
     responses:
       '200':
         description: 'Ok. Show Log-in UI'
   post:
     operationId: R102
     summary: 'R102: Login Action'
     description: 'Processes the login form submission. Access: PUB'
     tags:
       - 'M01: Authentication and Individual Profile'

     requestBody:
      required: true
      content:
        application/x-www-form-urlencoded: 
          schema:
            type: object
            properties:
              email:
                type: string
                format: email
                example: 'user@example.com'
              username:
                type: string
              password:
                type: string
            required:
              - password
            anyOf:
              - required: [email]
              - required: [username]

     responses:
       '302':
         description: 'Redirect after processing the login credentials.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful authentication. Redirect to user profile.'
                 value: '/users/{id}'
               302Error:
                 description: 'Failed authentication. Redirect to login form.'
                 value: '/login'

 /logout:

   post:
     operationId: R103
     summary: 'R103: Logout Action'
     description: 'Logout the current authenticated user. Access: REG, MOD, ADMIN'
     tags:
       - 'M01: Authentication and Individual Profile'
     responses:
       '302':
         description: 'Redirect after processing logout.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful logout. Redirect to login form.'
                 value: '/login'

 /register:
   get:
     operationId: R104
     summary: 'R104: Register Form'
     description: 'Provide new user registration form. Access: PUB'
     tags:
       - 'M01: Authentication and Individual Profile'
     responses:
       '200':
         description: 'Ok. Show Sign-Up UI'

   post:
     operationId: R105
     summary: 'R105: Register Action'
     description: 'Processes the new user registration form submission. Access: PUB'
     tags:
       - 'M01: Authentication and Individual Profile'

     requestBody:
      required: true
      content:
        application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              name:
                type: string
              email:
                type: string
                format: email
                example: 'user@example.com'
              username:
                type: string
              password:
                type: string
              password_confirm:
                type: string
            required:
              - name
              - email
              - username
              - password
              - password_confirm
     responses:
       '302':
         description: 'Redirect after processing the new user information.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful authentication. Redirect to user profile.'
                 value: '/users/{id}'
               302Failure:
                 description: 'Failed authentication. Redirect to login form.'
                 value: '/login'
 /recover:
    get:
      operationId: R106
      summary: 'R106: Recovery Form.'
      description: 'Allow user to recover account credentials through the insertion of an email account. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: 'Ok. Show account recovery information.'
    post:
      operationId: R107
      summary: 'R107: Recovery Action.'
      description: 'Process the account recovery request. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  example: 'user@example.com'
                required:
                  - email
      responses:
       '302':
         description: 'Redirect after processing the recovery request.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful recovery request. Redirect to login.'
                 value: '/login'
               302Failure:
                 description: 'Failed recovery request. Redirect to recovery form.'
                 value: '/recover'
 /users/{id}:
   get:
     operationId: R108
     summary: 'R108: View user profile.'
     description: 'Show the individual user profile. Access: REG, MOD, ADMIN'
     tags:
       - 'M01: Authentication and Individual Profile'

     parameters:
       - in: path
         name: id
         schema:
           type: integer
         required: true

     responses:
       '200':
         description: 'Ok. Show User Profile UI'
        '404':
          description: 'User ID not found.'
 /users/{id}/edit:
  get:
    operationId: R109
    summary: 'R109: Edit Profile Form.'
    description: 'Allow user to edit profile information. Access: REG, MOD, ADMIN'
    tags:
      - 'M01: Authentication and Individual Profile'
    parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
    responses:
      '200':
        description: 'Ok. Show account edit information.'
  post:
    operationId: R110
    summary: 'R110: Edit User Profile Action.'
    description: 'Process the account editing request. Access: REG, MOD, ADMIN'
    tags:
      - 'M01: Authentication and Individual Profile'
    parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
    requestBody:
      content:
      application/x-www-form-urlencoded:
        schema:
          type: object
          properties:
            name:
              type: string
            username:
              type: string
            email:
              type: string
            password:
              type: string
            password_confirm:
              type: string
            profile_pic:
              oneOf:
              - type: string
                format: binary
              - type: string
                format: uri
            bio:
              type: string
    responses:
       '302':
         description: 'Redirect after processing the user information edit request.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful editing request. Redirect to user profile.'
                 value: '/user/{id}'
               302Failure:
                 description: 'Failed editing request. Redirect to user profile edit form.'
                 value: '/user/{id}/edit'
       '400':
         description: 'Bad Request. The input data is invalid or missing required fields.'
         content:
           application/x-www-form-urlencoded:
             schema:
               type: object
               properties:
                 status:
                   type: string
                   example: "error"
                 message:
                   type: string
                   example: "Invalid input. Please check the following fields."
                 errors:
                   type: object
                   properties:
                     email:
                       type: string
                       example: "Invalid email format."
                     profile_pic:
                       type: string
                       example: "Profile picture must be a valid image URL or a file upload."
             examples:
               invalidInput:
                 summary: "Invalid input example"
                 value:
                   status: "error"
                   message: "Invalid input. Please check the following fields."
                   errors:
                     email: "Invalid email format."
            