---
openapi: 3.0.0
info:
  version: "1.0"
  title: LBAW ClarityQuest Web API
  description: Web Resources Specification (A7) for our Collaborative Q&A Web App
    - ClarityQuest
servers:
  - url: http://lbaw24125.fe.up.pt/24125
    description: Production server
externalDocs:
  description: Find more info here.
  url: https://gitlab.up.pt/lbaw/lbaw2425/lbaw24125/-/wikis/home
tags:
  - name: "M01: Authentication and Individual Profile"
  - name: "M02: Q&A"
  - name: "M03: Profiles"
  - name: "M04: Notifications"
  - name: "M05: User Administration"
  - name: "M06: Static Pages"
paths:
  /:
    get:
      operationId: R601
      summary: "R601: Home Page"
      description: "Display the homepage. Access: PUB"
      tags:
        - "M06: Static Pages"
      responses:
        "200":
          description: Ok. Homepage displayed successfully.
  /about:
    get:
      operationId: R602
      summary: "R602: About Us Page"
      description: "Display about us information. Access: PUB"
      tags:
        - "M06: Static Pages"
      responses:
        "200":
          description: Ok. About page displayed successfully.
  /contacts:
    get:
      operationId: R603
      summary: "R603: Contacts Page"
      description: "Display contact information. Access: PUB"
      tags:
        - "M06: Static Pages"
      responses:
        "200":
          description: Ok. Contact page displayed successfully.
  /search:
    get:
      operationId: R604
      summary: "R604: Search"
      description: "Perform a search across the platform. Access: PUB"
      tags:
        - "M06: Static Pages"
      parameters:
        - in: query
          name: q
          schema:
            type: string
          required: true
          description: Search query
      responses:
        "200":
          description: Ok. Search results retrieved successfully.
  /main-features:
    get:
      operationId: R605
      summary: "R605: Main Features Page"
      description: "Display main features of the platform. Access: PUB"
      tags:
        - "M06: Static Pages"
      responses:
        "200":
          description: Ok. Main features page displayed successfully.
  /faq:
    get:
      operationId: R606
      summary: "R606: FAQ Page"
      description: "Display frequently asked questions page. Access: PUB"
      tags:
        - "M06: Static Pages"
      responses:
        "200":
          description: Ok. FAQ page displayed successfully.
  /admin:
    get:
      operationId: R501
      summary: "R501: Admin Dashboard"
      description: "Display admin dashboard. Access: ADMIN"
      tags:
        - "M05: User Administration"
      responses:
        "200":
          description: Ok. Admin dashboard displayed successfully.
        "403":
          description: Forbidden. Admin access required.
  
  /reports:
    post:
      operationId: R501
      summary: "R501: Create Report"
      description: "Create a new report. Access: REG"
      tags:
        - "M05: User Administration"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                content:
                  type: string
                reported_id:
                  type: integer
                reported_type:
                  type: string
                  enum:
                    - question
                    - answer
                    - comment
                    - user
              required:
                - content
                - reported_id
                - reported_type
      responses:
        "201":
          description: Report created successfully.
        "401":
          description: Unauthorized. Authentication required.

  "/reports/{id}":
    delete:
      operationId: R502
      summary: "R502: Delete Report"
      description: "Delete a specific report. Access: ADMIN"
      tags:
        - "M05: User Administration"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: Report deleted successfully.
        "401":
          description: Unauthorized. Authentication required.
        "403":
          description: Forbidden. Admin access required.
  /login:
    get:
      operationId: R101
      summary: "R101: Show Login Form"
      description: "Display login form. Access: PUB"
      tags:
        - "M01: Authentication and Individual Profile"
      responses:
        "200":
          description: Ok. Show Login UI
    post:
      operationId: R102
      summary: "R102: Authenticate User"
      description: "Process login credentials. Access: PUB"
      tags:
        - "M01: Authentication and Individual Profile"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
              required:
                - email
                - password
      responses:
        "302":
          description: Redirect after authentication
          headers:
            Location:
              schema:
                type: string
  /logout:
    post:
      operationId: R103
      summary: "R103: Logout User"
      description: "Process user logout. Access: REG"
      tags:
        - "M01: Authentication and Individual Profile"
      responses:
        "302":
          description: Redirect after logout
          headers:
            Location:
              schema:
                type: string
  /register:
    get:
      operationId: R104
      summary: "R104: Show Registration Form"
      description: "Display user registration form. Access: PUB"
      tags:
        - "M01: Authentication and Individual Profile"
      responses:
        "200":
          description: Ok. Show Registration UI
    post:
      operationId: R105
      summary: "R105: Register New User"
      description: "Process user registration. Access: PUB"
      tags:
        - "M01: Authentication and Individual Profile"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                  format: email
                password:
                  type: string
                password_confirmation:
                  type: string
              required:
                - name
                - email
                - password
                - password_confirmation
      responses:
        "302":
          description: Redirect after registration
          headers:
            Location:
              schema:
                type: string
  /profile:
    get:
      operationId: R106
      summary: "R106: View My Profile"
      description: "Display authenticated user profile. Access: REG"
      tags:
        - "M01: Authentication and Individual Profile"
      responses:
        "200":
          description: Ok. Show User Profile
  /profile/edit:
    get:
      operationId: R107
      summary: "R107: Show Profile Edit Form"
      description: "Display profile editing form. Access: REG"
      tags:
        - "M01: Authentication and Individual Profile"
      responses:
        "200":
          description: Ok. Show Profile Edit UI
  /users:
    post:
      operationId: R302
      summary: "R302: Create User"
      description: "Create a new user (by admin). Access: ADMIN"
      tags:
        - "M03: Profiles"
      responses:
        "201":
          description: User created successfully.
        "401":
          description: Unauthorized. Authentication required.
        "403":
          description: Forbidden. Admin access required.
  "/users/{id}":
    get:
      operationId: R301
      summary: "R301: View Public User Profile"
      description: "Display public profile of a user. Access: PUB"
      tags:
        - "M03: Profiles"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Ok. Show Public User Profile
        "404":
          description: User not found
    patch:
      operationId: R108
      summary: "R108: Update User Profile"
      description: "Update user profile information. Access: REG"
      tags:
        - "M01: Authentication and Individual Profile"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                  format: email
              required:
                - name
                - email
      responses:
        "302":
          description: Redirect after profile update
    delete:
      operationId: R109
      summary: "R109: Delete User Account"
      description: "Permanently delete user account. Access: REG"
      tags:
        - "M01: Authentication and Individual Profile"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: User account deleted successfully
  "/users/{id}/block":
    patch:
      operationId: R304
      summary: "R304: Block User"
      description: "Block/unblock a user. Access: ADMIN"
      tags:
        - "M03: Profiles"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: User block status updated successfully.
        "401":
          description: Unauthorized. Authentication required.
        "403":
          description: Forbidden. Admin access required.
  /google:
    get:
      operationId: R110
      summary: "R110: Google OAuth Redirect"
      description: "Redirect to Google OAuth. Access: PUB"
      tags:
        - "M01: Authentication and Individual Profile"
      responses:
        "302":
          description: Redirect to Google OAuth
  /google/callback:
    get:
      operationId: R111
      summary: "R111: Handle Google OAuth Callback"
      description: "Process Google OAuth callback. Access: PUB"
      tags:
        - "M01: Authentication and Individual Profile"
      responses:
        "302":
          description: Redirect after OAuth processing

  /x:
    get:
      operationId: R112
      summary: "R112: X/Twitter OAuth Redirect"
      description: "Redirect to X/Twitter OAuth. Access: PUB"
      tags:
        - "M01: Authentication and Individual Profile"
      responses:
        "302":
          description: Redirect to X/Twitter OAuth

  /x/callback:
    get:
      operationId: R113
      summary: "R113: Handle X/Twitter OAuth Callback"
      description: "Process X/Twitter OAuth callback. Access: PUB"
      tags:
        - "M01: Authentication and Individual Profile"
      responses:
        "302":
          description: Redirect after OAuth processing

  /recover:
    get:
      operationId: R114
      summary: "R114: Show Password Recovery Form"
      description: "Display password recovery form. Access: PUB"
      tags:
        - "M01: Authentication and Individual Profile"
      responses:
        "200":
          description: Ok. Recovery form displayed successfully.
    post:
      operationId: R115
      summary: "R115: Send Recovery Email"
      description: "Send password recovery email. Access: PUB"
      tags:
        - "M01: Authentication and Individual Profile"
      responses:
        "302":
          description: Redirect after sending recovery email

  /recover/sent:
    get:
      operationId: R116
      summary: "R116: Show Recovery Email Sent Page"
      description: "Display confirmation page for sent recovery email. Access: PUB"
      tags:
        - "M01: Authentication and Individual Profile"
      responses:
        "200":
          description: Ok. Confirmation page displayed successfully.

  "/recover/{token}":
    get:
      operationId: R117
      summary: "R117: Show Reset Password Form"
      description: "Display reset password form. Access: PUB"
      tags:
        - "M01: Authentication and Individual Profile"
      parameters:
        - in: path
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Ok. Reset password form displayed successfully.

  /recover/reset:
    post:
      operationId: R118
      summary: "R118: Reset Password"
      description: "Process password reset. Access: PUB"
      tags:
        - "M01: Authentication and Individual Profile"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                token:
                  type: string
                password:
                  type: string
                password_confirmation:
                  type: string
              required:
                - token
                - password
                - password_confirmation
      responses:
        "302":
          description: Redirect after password reset
  "/posts/{id}":
    post:
      operationId: R201
      summary: "R201: Vote on Post"
      description: "Submit a vote (up or down) for a post. Access: REG"
      tags:
        - "M02: Q&A"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                vote_type:
                  type: string
                  enum:
                    - up
                    - down
      responses:
        "200":
          description: Vote registered successfully
        "302":
          description: Redirect after voting
          headers:
            Location:
              schema:
                type: string
  /followed-questions:
    get:
      operationId: R202
      summary: "R202: Get Followed Questions"
      description: "Retrieve a users followed questions. Access: REG"
      tags:
        - "M02: Q&A"
      responses:
        "200":
          description: Ok. Followed questions retrieved successfully.
        "401":
          description: Unauthorized. Authentication required.
  /my-questions:
    get:
      operationId: R203
      summary: "R203: Get My Questions"
      description: "Retrieve users own questions. Access: REG"
      tags:
        - "M02: Q&A"
      responses:
        "200":
          description: Ok. Users questions retrieved successfully.
        "401":
          description: Unauthorized. Authentication required.
  /questions/create:
    get:
      operationId: R204
      summary: "R204: Show Question Create Form"
      description: "Display form to create a new question. Access: REG"
      tags:
        - "M02: Q&A"
      responses:
        "200":
          description: Ok. Question create form displayed.
        "401":
          description: Unauthorized. Authentication required.
    post:
      operationId: R205
      summary: "R205: Create Question"
      description: "Create a new question. Access: REG"
      tags:
        - "M02: Q&A"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                content:
                  type: string
                tags:
                  type: array
                  items:
                    type: string
              required:
                - title
                - content
      responses:
        "201":
          description: Question created successfully.
        "302":
          description: Redirect after question creation
          headers:
            Location:
              schema:
                type: string
        "401":
          description: Unauthorized. Authentication required.
  /questions/{id}:
    get:
      operationId: R206
      summary: "R206: Show Question Details"
      description: "Retrieve details of a specific question. Access: PUB"
      tags:
        - "M02: Q&A"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Ok. Question details retrieved successfully.
    post:
      operationId: R207
      summary: "R207: Follow Question"
      description: "Follow a specific question. Access: REG"
      tags:
        - "M02: Q&A"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Question followed successfully.
        "302":
          description: Redirect after following question
          headers:
            Location:
              schema:
                type: string
        "401":
          description: Unauthorized. Authentication required.
    delete:
      operationId: R208
      summary: "R208: Delete Question"
      description: "Delete a specific question. Access: REG"
      tags:
        - "M02: Q&A"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: Question deleted successfully.
        "401":
          description: Unauthorized. Authentication required.
        "403":
          description: Forbidden. User not authorized to delete this question.
    patch:
      operationId: R209
      summary: "R209: Update Question"
      description: "Update a specific question. Access: REG"
      tags:
        - "M02: Q&A"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                content:
                  type: string
              required:
                - title
                - content
      responses:
        "200":
          description: Question updated successfully.
        "401":
          description: Unauthorized. Authentication required.
        "403":
          description: Forbidden. User not authorized to update this question.
  /questions/{id}/tags:
    post:
      operationId: R210
      summary: "R210: Add Tag to Question"
      description: "Add a tag to a specific question. Access: REG"
      tags:
        - "M02: Q&A"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                tag_id:
                  type: integer
              required:
                - tag_id
      responses:
        "200":
          description: Tag added to question successfully.
        "302":
          description: Redirect after adding tag
          headers:
            Location:
              schema:
                type: string
        "401":
          description: Unauthorized. Authentication required.
        "403":
          description: Forbidden. User not authorized to add tags.
  /questions/{id}/tags/remove:
    post:
      operationId: R211
      summary: "R211: Remove Tag from Question"
      description: "Remove a specific tag from a question. Access: REG"
      tags:
        - "M02: Q&A"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                tag:
                  type: string
      responses:
        "200":
          description: Tag removed successfully
        "302":
          description: Redirect after tag removal
          headers:
            Location:
              schema:
                type: string
  /my-answers:
    get:
      operationId: R212
      summary: "R212: Get My Answers"
      description: "Retrieve users own answers. Access: REG"
      tags:
        - "M02: Q&A"
      responses:
        "200":
          description: Ok. Users answers retrieved successfully.
        "401":
          description: Unauthorized. Authentication required.
  /answers:
    put:
      operationId: R213
      summary: "R213: Create Answer"
      description: "Create a new answer. Access: REG"
      tags:
        - "M02: Q&A"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                question_id:
                  type: integer
                content:
                  type: string
              required:
                - question_id
                - content
      responses:
        "201":
          description: Answer created successfully.
        "302":
          description: Redirect after answer creation
          headers:
            Location:
              schema:
                type: string
        "401":
          description: Unauthorized. Authentication required.
  /answers/{id}:
    delete:
      operationId: R214
      summary: "R214: Delete Answer"
      description: "Delete a specific answer. Access: REG"
      tags:
        - "M02: Q&A"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: Answer deleted successfully.
        "401":
          description: Unauthorized. Authentication required.
        "403":
          description: Forbidden. User not authorized to delete this answer.
    patch:
      operationId: R215
      summary: "R215: Update Answer"
      description: "Update a specific answer. Access: REG"
      tags:
        - "M02: Q&A"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                content:
                  type: string
              required:
                - content
      responses:
        "200":
          description: Answer updated successfully.
        "401":
          description: Unauthorized. Authentication required.
        "403":
          description: Forbidden. User not authorized to update this answer.
  /answers/{id}/correct:
    post:
      operationId: R216
      summary: "R216: Mark Answer as Correct"
      description: "Mark an answer as correct for a question. Access: REG"
      tags:
        - "M02: Q&A"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Answer marked as correct successfully.
        "302":
          description: Redirect after marking answer as correct
          headers:
            Location:
              schema:
                type: string
        "401":
          description: Unauthorized. Authentication required.
        "403":
          description: Forbidden. User not authorized to mark this answer.
  /comments:
    put:
  operationId: R217
  summary: "R217: Create Comment"
  description: "Create a new comment. Access: REG"
  tags:
    - "M02: Q&A"
  requestBody:
    required: true
    content:
      application/x-www-form-urlencoded:
        schema:
          type: object
          properties:
            content:
              type: string
            related_id:
              type: integer
            related_type:
              type: string
              enum:
                - question
                - answer
          required:
            - content
            - related_id
            - related_type
  responses:
    "201":
      description: Comment created successfully.
    "302":
      description: Redirect after comment creation
      headers:
        Location:
          schema:
            type: string
    "401":
      description: Unauthorized. Authentication required.
  /comments/{id}:
    delete:
      operationId: R218
      summary: "R218: Delete Comment"
      description: "Delete a specific comment. Access: REG"
      tags:
        - "M02: Q&A"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: Comment deleted successfully.
        "401":
          description: Unauthorized. Authentication required.
        "403":
          description: Forbidden. User not authorized to delete this comment.
    patch:
      operationId: R219
      summary: "R219: Update Comment"
      description: "Update a specific comment. Access: REG"
      tags:
        - "M02: Q&A"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                content:
                  type: string
              required:
                - content
      responses:
        "200":
          description: Comment updated successfully.
        "401":
          description: Unauthorized. Authentication required.
        "403":
          description: Forbidden. User not authorized to update this comment.
  /followed-tags:
    get:
      operationId: R220
      summary: "R220: Get Followed Tags"
      description: "Retrieve users followed tags. Access: REG"
      tags:
        - "M02: Q&A"
      responses:
        "200":
          description: Ok. Followed tags retrieved successfully.
        "401":
          description: Unauthorized. Authentication required.
  /tags:
    put:
      operationId: R221
      summary: "R221: Create Tag"
      description: "Create a new tag. Access: ADMIN"
      tags:
        - "M02: Q&A"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
              required:
                - name
      responses:
        "201":
          description: Tag created successfully.
        "302":
          description: Redirect after tag creation
          headers:
            Location:
              schema:
                type: string
        "401":
          description: Unauthorized. Authentication required.
  /tags/{id}:
    get:
      operationId: R222
      summary: "R222: Show Tag Details"
      description: "Retrieve tag details. Access: REG"
      tags:
        - "M02: Q&A"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Ok. Tag details retrieved successfully.
        "401":
          description: Unauthorized. Authentication required.
    delete:
      operationId: R223
      summary: "R223: Delete Tag"
      description: "Delete a specific tag. Access: ADMIN"
      tags:
        - "M02: Q&A"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: Tag deleted successfully.
        "401":
          description: Unauthorized. Authentication required.
    patch:
      operationId: R224
      summary: "R224: Update Tag"
      description: "Update a specific tag. Access: ADMIN"
      tags:
        - "M02: Q&A"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
              required:
                - name
      responses:
        "200":
          description: Tag updated successfully.
        "401":
          description: Unauthorized. Authentication required.
    post:
      operationId: R225
      summary: "R225: Follow Tag"
      description: "Follow a specific tag. Access: REG"
      tags:
        - "M02: Q&A"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Tag followed successfully.
        "302":
          description: Redirect after following tag
          headers:
            Location:
              schema:
                type: string
        "401":
          description: Unauthorized. Authentication required.
  /notifications:
    get:
      operationId: R401
      summary: "R401: Get User Notifications"
      description: "Fetch a list of notifications for the authenticated user. Access: REG"
      tags:
        - "M04: Notifications"
      responses:
        "200":
          description: A list of notifications retrieved successfully.
        "401":
          description: Unauthorized. Authentication required.
        "403":
          description: Forbidden. User not authorized to view notifications.
  /notifications/{id}:
    delete:
      operationId: R402
      summary: "R402: Delete Notification"
      description: "Delete a specific notification for the authenticated user. Access: REG"
      tags:
        - "M04: Notifications"
      parameters:
        - in: path
          name: id
          required: true
          description: "ID of the notification to be deleted"
          schema:
            type: integer
      responses:
        "204":
          description: Notification deleted successfully.
        "401":
          description: Unauthorized. Authentication required.
        "403":
          description: Forbidden. User not authorized to delete this notification.
        "404":
          description: Notification not found.
