---
openapi: 3.0.0
info:
  version: "1.0"
  title: LBAW ClarityQuest Web API
  description: Web Resources Specification (A7) for our Collaborative Q&A Web App
    - ClarityQuest
servers:
  - url: http://lbaw24125.fe.up.pt/24125
    description: Production server
externalDocs:
  description: Find more info here.
  url: https://gitlab.up.pt/lbaw/lbaw2425/lbaw24125/-/wikis/home
tags:
  - name: "M01: Authentication and Individual Profile"
  - name: "M02: Q&A"
  - name: "M03: Profiles"
  - name: "M04: Notifications"
  - name: "M05: User Administration"
  - name: "M06: Static Pages"
paths:
  /:
    get:
      operationId: R601
      summary: Home Page
      description: "Display the homepage. Access: PUB"
      tags:
        - "M06: Static Pages"
      responses:
        "200":
          description: Ok. Homepage displayed successfully.
  /about:
    get:
      operationId: R602
      summary: About Us Page
      description: "Display about us information. Access: PUB"
      tags:
        - "M06: Static Pages"
      responses:
        "200":
          description: Ok. About page displayed successfully.
  /contacts:
    get:
      operationId: R603
      summary: Contacts Page
      description: "Display contact information. Access: PUB"
      tags:
        - "M06: Static Pages"
      responses:
        "200":
          description: Ok. Contact page displayed successfully.
  /search:
    get:
      operationId: R604
      summary: Search
      description: "Perform a search across the platform. Access: PUB"
      tags:
        - "M06: Static Pages"
      parameters:
        - in: query
          name: q
          schema:
            type: string
          required: true
          description: Search query
      responses:
        "200":
          description: Ok. Search results retrieved successfully.
  /main-features:
    get:
      operationId: R605
      summary: Main Features Page
      description: "Display main features of the platform. Access: PUB"
      tags:
        - "M06: Static Pages"
      responses:
        "200":
          description: Ok. Main features page displayed successfully.
  /admin:
    get:
      operationId: R501
      summary: Admin Dashboard
      description: "Display admin dashboard. Access: ADMIN"
      tags:
        - "M05: User Administration"
      responses:
        "200":
          description: Ok. Admin dashboard displayed successfully.
        "403":
          description: Forbidden. Admin access required.
  /login:
    get:
      operationId: R101
      summary: Show Login Form
      description: "Display login form. Access: PUB"
      tags:
        - "M01: Authentication and Individual Profile"
      responses:
        "200":
          description: Ok. Show Login UI
    post:
      operationId: R102
      summary: Authenticate User
      description: "Process login credentials. Access: PUB"
      tags:
        - "M01: Authentication and Individual Profile"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
              required:
                - email
                - password
      responses:
        "302":
          description: Redirect after authentication
          headers:
            Location:
              schema:
                type: string
  /logout:
    post:
      operationId: R103
      summary: Logout User
      description: "Process user logout. Access: REG"
      tags:
        - "M01: Authentication and Individual Profile"
      responses:
        "302":
          description: Redirect after logout
          headers:
            Location:
              schema:
                type: string
  /register:
    get:
      operationId: R104
      summary: Show Registration Form
      description: "Display user registration form. Access: PUB"
      tags:
        - "M01: Authentication and Individual Profile"
      responses:
        "200":
          description: Ok. Show Registration UI
    post:
      operationId: R105
      summary: Register New User
      description: "Process user registration. Access: PUB"
      tags:
        - "M01: Authentication and Individual Profile"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                  format: email
                password:
                  type: string
                password_confirmation:
                  type: string
              required:
                - name
                - email
                - password
                - password_confirmation
      responses:
        "302":
          description: Redirect after registration
          headers:
            Location:
              schema:
                type: string
  /profile:
    get:
      operationId: R106
      summary: View My Profile
      description: "Display authenticated user profile. Access: REG"
      tags:
        - "M01: Authentication and Individual Profile"
      responses:
        "200":
          description: Ok. Show User Profile
  /profile/edit:
    get:
      operationId: R107
      summary: Show Profile Edit Form
      description: "Display profile editing form. Access: REG"
      tags:
        - "M01: Authentication and Individual Profile"
      responses:
        "200":
          description: Ok. Show Profile Edit UI
  "/users/{id}":
    get:
      operationId: R301
      summary: View Public User Profile
      description: "Display public profile of a user. Access: PUB"
      tags:
        - "M03: Profiles"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Ok. Show Public User Profile
        "404":
          description: User not found
    patch:
      operationId: R108
      summary: Update User Profile
      description: "Update user profile information. Access: REG"
      tags:
        - "M01: Authentication and Individual Profile"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                  format: email
              required:
                - name
                - email
      responses:
        "302":
          description: Redirect after profile update
    delete:
      operationId: R109
      summary: Delete User Account
      description: "Permanently delete user account. Access: REG"
      tags:
        - "M01: Authentication and Individual Profile"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: User account deleted successfully
  
  "/posts/{id}":
    post:
      operationId: R201
      summary: Vote on Post
      description: "Submit a vote (up or down) for a post. Access: REG"
      tags:
        - "M02: Q&A"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                vote_type:
                  type: string
                  enum:
                    - up
                    - down
      responses:
        "200":
          description: Vote registered successfully
  /followed-questions:
    get:
      operationId: R202
      summary: Get Followed Questions
      description: "Retrieve a users followed questions. Access: REG"
      tags:
        - "M02: Q&A"
      responses:
        "200":
          description: Ok. Followed questions retrieved successfully.
        "401":
          description: Unauthorized. Authentication required.
  /my-questions:
    get:
      operationId: R203
      summary: Get My Questions
      description: "Retrieve users own questions. Access: REG"
      tags:
        - "M02: Q&A"
      responses:
        "200":
          description: Ok. Users questions retrieved successfully.
        "401":
          description: Unauthorized. Authentication required.
  /questions/create:
    get:
      operationId: R204
      summary: Show Question Create Form
      description: "Display form to create a new question. Access: REG"
      tags:
        - "M02: Q&A"
      responses:
        "200":
          description: Ok. Question create form displayed.
        "401":
          description: Unauthorized. Authentication required.
    post:
      operationId: R205
      summary: Create Question
      description: "Create a new question. Access: REG"
      tags:
        - "M02: Q&A"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                content:
                  type: string
                tags:
                  type: array
                  items:
                    type: string
              required:
                - title
                - content
      responses:
        "201":
          description: Question created successfully.
        "401":
          description: Unauthorized. Authentication required.
  "/questions/{id}":
    get:
      operationId: R206
      summary: Show Question Details
      description: "Retrieve details of a specific question. Access: PUB"
      tags:
        - "M02: Q&A"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Ok. Question details retrieved successfully.
    post:
      operationId: R207
      summary: Follow Question
      description: "Follow a specific question. Access: REG"
      tags:
        - "M02: Q&A"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Question followed successfully.
        "401":
          description: Unauthorized. Authentication required.
    delete:
      operationId: R208
      summary: Delete Question
      description: "Delete a specific question. Access: REG"
      tags:
        - "M02: Q&A"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: Question deleted successfully.
        "401":
          description: Unauthorized. Authentication required.
        "403":
          description: Forbidden. User not authorized to delete this question.
    patch:
      operationId: R209
      summary: Update Question
      description: "Update a specific question. Access: REG"
      tags:
        - "M02: Q&A"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                content:
                  type: string
              required:
                - title
                - content
      responses:
        "200":
          description: Question updated successfully.
        "401":
          description: Unauthorized. Authentication required.
        "403":
          description: Forbidden. User not authorized to update this question.
  "/questions/{id}/tags":
    post:
      operationId: R210
      summary: Add Tag to Question
      description: "Add a tag to a specific question. Access: REG"
      tags:
        - "M02: Q&A"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                tag_id:
                  type: integer
              required:
                - tag_id
      responses:
        "200":
          description: Tag added to question successfully.
        "401":
          description: Unauthorized. Authentication required.
        "403":
          description: Forbidden. User not authorized to add tags.
  "/questions/{id}/tags/remove":
    post:
      operationId: R211
      summary: Remove Tag from Question
      description: "Remove a specific tag from a question. Access: REG"
      tags:
        - "M02: Q&A"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                tag:
                  type: string
      responses:
        "200":
          description: Tag removed successfully
  /my-answers:
    get:
      operationId: R212
      summary: Get My Answers
      description: "Retrieve users own answers. Access: REG"
      tags:
        - "M02: Q&A"
      responses:
        "200":
          description: Ok. Users answers retrieved successfully.
        "401":
          description: Unauthorized. Authentication required.
  /answers:
    put:
      operationId: R213
      summary: Create Answer
      description: "Create a new answer. Access: REG"
      tags:
        - "M02: Q&A"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                question_id:
                  type: integer
                content:
                  type: string
              required:
                - question_id
                - content
      responses:
        "201":
          description: Answer created successfully.
        "401":
          description: Unauthorized. Authentication required.
  "/answers/{id}":
    delete:
      operationId: R214
      summary: Delete Answer
      description: "Delete a specific answer. Access: REG"
      tags:
        - "M02: Q&A"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: Answer deleted successfully.
        "401":
          description: Unauthorized. Authentication required.
        "403":
          description: Forbidden. User not authorized to delete this answer.
    patch:
      operationId: R215
      summary: Update Answer
      description: "Update a specific answer. Access: REG"
      tags:
        - "M02: Q&A"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                content:
                  type: string
              required:
                - content
      responses:
        "200":
          description: Answer updated successfully.
        "401":
          description: Unauthorized. Authentication required.
        "403":
          description: Forbidden. User not authorized to update this answer.
  "/answers/{id}/correct":
    post:
      operationId: R216
      summary: Mark Answer as Correct
      description: "Mark an answer as correct for a question. Access: REG"
      tags:
        - "M02: Q&A"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Answer marked as correct successfully.
        "401":
          description: Unauthorized. Authentication required.
        "403":
          description: Forbidden. User not authorized to mark this answer.
  /comments:
    put:
      operationId: R217
      summary: Create Comment
      description: "Create a new comment. Access: REG"
      tags:
        - "M02: Q&A"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                content:
                  type: string
                related_id:
                  type: integer
                related_type:
                  type: string
                  enum:
                    - question
                    - answer
              required:
                - content
                - related_id
                - related_type
      responses:
        "201":
          description: Comment created successfully.
        "401":
          description: Unauthorized. Authentication required.
  "/comments/{id}":
    delete:
      operationId: R218
      summary: Delete Comment
      description: "Delete a specific comment. Access: REG"
      tags:
        - "M02: Q&A"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: Comment deleted successfully.
        "401":
          description: Unauthorized. Authentication required.
        "403":
          description: Forbidden. User not authorized to delete this comment.
    patch:
      operationId: R219
      summary: Update Comment
      description: "Update a specific comment. Access: REG"
      tags:
        - "M02: Q&A"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                content:
                  type: string
              required:
                - content
      responses:
        "200":
          description: Comment updated successfully.
        "401":
          description: Unauthorized. Authentication required.
        "403":
          description: Forbidden. User not authorized to update this comment.
  /followed-tags:
    get:
      operationId: R220
      summary: Get Followed Tags
      description: "Retrieve users followed tags. Access: REG"
      tags:
        - "M02: Q&A"
      responses:
        "200":
          description: Ok. Followed tags retrieved successfully.
        "401":
          description: Unauthorized. Authentication required.
  /tags:
    put:
      operationId: R221
      summary: Create Tag
      description: "Create a new tag. Access: REG"
      tags:
        - "M02: Q&A"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
              required:
                - name
      responses:
        "201":
          description: Tag created successfully.
        "401":
          description: Unauthorized. Authentication required.
  "/tags/{id}":
    get:
      operationId: R222
      summary: Show Tag Details
      description: "Retrieve tag details. Access: REG"
      tags:
        - "M02: Q&A"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Ok. Tag details retrieved successfully.
        "401":
          description: Unauthorized. Authentication required.
    delete:
      operationId: R223
      summary: Delete Tag
      description: "Delete a specific tag. Access: REG"
      tags:
        - "M02: Q&A"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: Tag deleted successfully.
        "401":
          description: Unauthorized. Authentication required.
    patch:
      operationId: R224
      summary: Update Tag
      description: "Update a specific tag. Access: REG"
      tags:
        - "M02: Q&A"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
              required:
                - name
      responses:
        "200":
          description: Tag updated successfully.
        "401":
          description: Unauthorized. Authentication required.
    post:
      operationId: R225
      summary: Follow Tag
      description: "Follow a specific tag. Access: REG"
      tags:
        - "M02: Q&A"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Tag followed successfully.
        "401":
          description: Unauthorized. Authentication required.
  "/notifications":
    get:
      operationId: R401
      summary: Get User Notifications
      description: "Fetch a list of notifications for the authenticated user. Access: REG"
      tags:
        - "M04: Notifications"
      responses:
        "200":
          description: A list of notifications retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    description:
                      type: string
                    sent_at:
                      type: string
                      format: date-time
        "401":
          description: Unauthorized. Authentication required.
        "403":
          description: Forbidden. User not authorized to view notifications.

    delete:
      operationId: R402
      summary: Delete Notification
      description: "Delete a specific notification for the authenticated user. Access: REG"
      tags:
        - "M04: Notifications"
      parameters:
        - in: path
          name: id
          required: true
          description: "ID of the notification to be deleted"
          schema:
            type: integer
      responses:
        "204":
          description: Notification deleted successfully.
        "401":
          description: Unauthorized. Authentication required.
        "403":
          description: Forbidden. User not authorized to delete this notification.
        "404":
          description: Notification not found.
